@import "color";
@import "reset";
@import "responsive";
// header area
header {
  nav {
    .main-navbar {
      a {
        border-bottom: 4px solid transparent;
        line-height: 3rem;
        margin-bottom: -12px;
        margin-left: 5px;
        margin-right: 5px;
        font-weight: bold;
      }
      .nav-link.active {
        border-bottom: 4px solid $success;
      }
    }
  }
  #banner {
    .banner-item {
      padding-top: 2.5rem;
      h5 {
        text-transform: uppercase;
        font-weight: bold;
      }
      h1 {
        font-size: 3rem;
        text-transform: uppercase;
        font-family: "Helvetica Neue";
      }
    }
    .carousel-indicators [data-bs-target] {
      width: 10px;
      height: 10px;
      background-color: $success;
      border-radius: 50%;
    }
    .carousel-indicators {
      margin-bottom: -2rem !important;
    }
  }
}
// start main area
.show-cat {
  display: none;
}
aside {
  background-color: #f8f9fa;
  margin: 3rem 0;
  padding: 1rem;
  .categories {
    ul {
      li {
        a {
          position: relative;
          color: $black-1;
          transition: 0.5s;
          &.active {
            color: $success !important;
          }
          span {
            position: absolute;
            right: 0;
          }
        }
        .nav-link:focus,
        .nav-link:hover {
          color: $success !important;
        }
      }
    }
    .price-range {
      .multi-range-slider {
        #input-left {
          -webkit-appearance: none;
          width: 100%;
          height: 8px;
          border-radius: 5px;
          background: #d7e7da;
          outline: none;
          opacity: 0.7;
          -webkit-transition: 0.2s;
          transition: opacity 0.2s;
        }

        #input-left:hover {
          opacity: 1;
        }

        #input-left::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #04aa6d;
          cursor: pointer;
        }

        #input-left::-moz-range-thumb {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: $success;
          cursor: pointer;
        }
      }
    }
  }
}
main {
  margin-top: 2rem;
  margin-bottom: 3rem;
  nav {
    .main-navbar {
      a {
        border-bottom: 4px solid transparent;
        margin-bottom: -12px;
        margin-left: 5px;
        margin-right: 5px;
        font-weight: bold;
      }
      .nav-link.active {
        border-bottom: 4px solid $success;
      }
    }
  }
  .card {
    position: relative;
    h2 {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $success;
      color: $white;
      padding: 5px 8px;
    }
    .card-body {
      span {
        color: $success;
        del {
          color: $black-1;
        }
      }
    }
    .sls {
      i {
        font-size: 1.8rem;
        margin: 0 5px;
        padding: 5px;
        background-color: $white;
        color: $black-1;
      }
      opacity: 0;
      transition: 0.5s;
      text-align: center;
      position: absolute;
      bottom: 0%;
      left: 0;
      right: 0;
    }
    &:hover .sls {
      opacity: 1;
      bottom: 25%;
    }
  }
  nav.paginationStyle{
    margin-top: 2rem;
    ul{
      li{
        a{
          color: $black-1 !important;
          &.active{
            background-color: $success;
            color: $white !important;
          }
        }
      }
    }
  }
}
// start our blog posts area 
section.blog{
  margin: 5rem 0;
}