$whiteSmoke: #F3F3F3;
$gray-1: #A4A4A4;
$y-gray: #AE9F74;
$blackShade: #3C3C3C;

// some tag color
img{
  width: 100%;
}
a{
  text-decoration: none;
}
p{
  color: $gray-1;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6{
  color: #000;
}