$black: #000000;
$footerColor: #191919;
$white: #ffffff;
$gray_1: #bdbab6;
$gainsboro: #DADADA;
$pattensBlue: #DBF3FF;
img{
  width: 100%;
}
a{
  text-decoration: none;
}
p{
  color: $black;
}
h1,
h2,
h3,
h4,
h5,
h6{
  color: $black;
}